.auth__input{
  border: 0;
  border-bottom: 2px solid rgb( 204,204,204 );
  height: 36px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  margin-bottom: 30px;
  color: rgb( 204,204,204 );
  outline: none;

}