.header__button{
    background: black;
    color: #A9A9A9;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
}
.header__button:hover{
    opacity: 0.6;
}